body{
  background-color: coral;
}

#button{
  position: relative;
  text-align: center;
  width:20%;
  height:10vh;
  margin-top: 15%;
  margin-left: 40%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
#button>select{
  height:50%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  border: none;
  background-color: rgb(255, 255, 255);
}



